<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザー登録画面</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
</head>

<body>
	<div class="container">
		<div class="header">
			<h1 class="app-title">ユーザー登録画面</h1>
			<a th:href="@{/admin/signin}" class="btn btn-outline">ログイン画面</a>
		</div>
	</div>


	<div class="note-form-card">
		<form th:action="@{/admin/signup}" th:object="${admin}" method="post">
			<div class="form-group">
				<label>苗字</label>
				<input type="text" th:field="*{last_name}">
				<div th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}" class="error-message"></div>
			</div>

			<div class="form-group">
				<label>名前</label>
				<input type="text" th:field="*{first_name}">
				<div th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}" class="error-message"></div>
			</div>
			<div class="form-group">
				<label>メールアドレス</label>
				<input type="email" th:field="*{email}">
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></div>
			</div>

			<div class="form-group">
				<label>パスワード</label>
				<input type="text" th:field="*{password}">
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary">ユーザー登録</button>
			</div>
		</form>
	</div>
</body>